{{!< default}}
<div class="container gew_home-landing">
  <p class="gew_heroText gew_home-landing-text">
    {{ data.section_1.content }}
  </p>

  <!-- Search button -->
  <form class="form-group input-group gew_home-landing-search" action="/blog">
    <div class="input-group">
      <input type="text" class="form-control gew_home-landing-search-component" placeholder="Search">
      <div class="input-group-addon gew_home-landing-search-component"><i class="glyphicon glyphicon-search"></i></div>
    </div>
  </form>

  <i class="glyphicon glyphicon-chevron-down gew_home-landing-goDown"></i>
</div>

<div class="gew_home-listings gew_sectionContent">
  <div class="container-fluid">

    <div class="gew_titleWithButtons gew_home-listings-titleRow">
      <h2 class="text-center">
        Recent Listings
      </h2>
      <button class="btn btn-default gew_titleWithButtons-right">View all</button>
    </div>

    <div class="row">
      {{#each featuredProperties}}
      <div class="col-sm-6 col-md-4">
        {{> propertyCard this}}
      </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="gew_home-about gew_sectionContent">
    <p class="gew_home-about-text gew_heroText">
      {{ data.section_2.content }}
    </p>
    <button class="btn btn-info btn-lg gew_center"> More about us </button>
</div>

<div class="gew_home-register gew_sectionContent">
  <h2 class="gew_home-register-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>

  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control gew_formField gew_formField-light" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="email" class="form-control gew_formField gew_formField-light" placeholder="Email">
    </div>
    <button type="submit" class="btn btn-default gew_formField gew_formField-light">Submit</button>
  </form>
</div>
