{{!< default}}
<div class="container gew_home-landing gew_landingSection">
  <p class="gew_heroText gew_home-landing-text">
    {{ data.section_1.content_1 }}
  </p>

  <!-- Search button -->
  <form class="form-group input-group gew_home-landing-search" action="/blog">
    <div class="input-group">
      <input type="text" class="form-control gew_home-landing-search-component" placeholder="Search">
      <div class="input-group-addon gew_home-landing-search-component"><i class="glyphicon glyphicon-search"></i></div>
    </div>
  </form>

  <i class="glyphicon glyphicon-menu-down gew_home-landing-goDown"></i>
</div>

<div class="gew_home-listings gew_sectionContent">
  <div class="container-fluid">

    <div class="gew_titleWithButtons gew_home-listings-titleRow">
      <h2 class="text-center">
        Recent Listings
      </h2>
      <button class="btn btn-default gew_titleWithButtons-right">View all</button>
    </div>

    <div class="row">
      {{#each featuredProperties}}
      <div class="col-sm-6 col-md-4">
        {{> propertyCard this}}
      </div>
      {{/each}}
    </div>
  </div>
</div>

<section class="bg-primary">
  <div class="gew_sectionContent">
    <p class="gew_heroText">
      {{ data.section_2.content_1 }}
    </p>
    <button class="btn btn-info btn-lg gew_center"> More about us </button>
  </div>
</section>

<section class="gew_home-register">
  <div class="gew_sectionContent-extraPadding text-center">
    {{>subscribeFields color="light"}}
  </div>
</section>
