{{!< default}}
<div class="container gew_home-landing">
  <p class="gew_heroText gew_home-landing-text">
    {{ data.section_1.content }}
  </p>

  <!-- Search button -->
  <form class="form-group input-group gew_home-landing-search" action="/blog">
    <div class="input-group">
      <input type="text" class="form-control gew_home-landing-search-component" placeholder="Search">
      <div class="input-group-addon gew_home-landing-search-component"><i class="glyphicon glyphicon-search"></i></div>
    </div>
  </form>

  <i class="glyphicon glyphicon-chevron-down gew_home-landing-goDown"></i>
</div>

<div class="container gew_home-listings">
  <div class="gew_titleWithButtons gew_home-listings-titleRow">
    <h2 class="text-center">
      Recent Listings
    </h2>
    <button class="btn btn-default gew_titleWithButtons-right">View all</button>
  </div>

  <section class="page-section image-tiles">
    {{#each featuredProperties}}
      {{> propertyCard this}}
    {{/each}}
  </section>
</div>

<div class="container gew_home-about">
  {{ data.section_2.content }}
  <button class="btn btn-default"> Testing </button>
</div>

<div class="container gew_home-register">
</div>
