{{!< default}}
<div class="container gew_home-landing">
  {{ data.section_1.content }}
</div>

<div class="container gew_home-listings">
  {{ data.section_2.content }}
  <button class="btn btn-default"> Testing </button>
</div>

<div class="container gew_home-about">
</div>

<div class="container gew_home-register">
</div>
