<div class="gew_titleRow gew_sectionContent gew_bg-light">
  <h2 class="gew_titleRow-title">Lettings</h2>
</div>
<section class="gew_bg-light">
  <section class="gew_searchModuleContainer">
  </section>
</section>

<section class="bg-primary">
  <div class="gew_sectionContent-extraPadding text-center">
    {{>subscribeFields color="light"}}
  </div>
</section>

<script>
  require(['searchModule'], function(searchModule) {
    searchModule('.gew_searchModuleContainer', 'sales');
  });
</script>
