<section class="gew_bg-light">
  <section class="row gew_sectionContent">
    <div class="col-xs-12">
      <p><b>Sales</b></p>
    </div>

    {{#each data}}
      <div class="col-sm-4">
        {{> propertyCard data=this buyRent='rent'}}
      </div>
    {{/each}}
  </section>
</section>


<section class="bg-primary">
  <div class="gew_sectionContent-extraPadding text-center">
    {{>subscribeFields color="light"}}
  </div>
</section>
