<div class="gew_titleRow gew_sectionContent gew_bg-light">
  <h2 class="gew_titleRow-title">Sales</h2>
</div>
<section class="gew_bg-light">
  <section class="row gew_sectionContent">

    {{#each data}}
      <div class="col-sm-4">
        {{> propertyCard data=this buyRent='rent'}}
      </div>
    {{/each}}
  </section>
</section>


<section class="bg-primary">
  <div class="gew_sectionContent-extraPadding text-center">
    {{>subscribeFields color="light"}}
  </div>
</section>
