.gew_footer{
  background-color: $gray-base;
  font-weight: lighter;
  padding: 1px; // Prevent collapsing margins
  padding-top: 30px; // Prevent collapsing margins
  color: $gray-lighter;

  a {
    color: $gray-lighter;
  }
}

// .gew_footer-content {
//   max-width: 1500px;
//   padding: 5em 3em 0;
//   margin: auto;
// }
.gew_footer-biggerFont{
  font-size: 1.2em;
  margin-bottom: 2.5em;
}

.gew_footer-logo{
  max-height: 12em;
  display: inline-block;
}

.gew_footer-bottom{
  padding: 2em 0;
  margin-top: 3em;
  border: 1px solid $gray;
  border-width: 1px 0 0 0;
}

.gew_footer-col-left {
  text-align: left;
}

.gew_footer-col-right {
  text-align: right;
}

@include xs-screen {
  .gew_footer-col-left,
  .gew_footer-col-right {
    text-align: left;
  }
}
