.gew_navbar {
  background-color: $navbar-bg;
  border: 0;
  z-index: $navbar-z-index;
  padding: 0 5vw;
  position: relative;
  color: $white;
  height: $navbar-height;
  transition: background-color .3s ease-in-out;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}


.gew_navbar-button {
	color: inherit;
	font-weight: lighter;
	margin: 0 0.5vw;
  margin: 0;
  padding: 3.5em .8em;

  @include lg-screen {
    padding-left: 1.2em;
    padding-right: 1.2em;
  }

	&:focus, &:visited {
		color: inherit;
	}

  &:hover {
    color: $brand-primary;
    text-decoration: none;
    cursor: pointer;
  }
}

.gew_navbar-button-divider {
  position: relative;
  &:after {
    content: '|';
    position: absolute;
    right: -.4em;
  }
}
.gew_navbar-brand {
  position: relative; // So that the hightlight is contained within it.
  padding-right: 1em;
}

.gew_navbar-logo {
  height: 80px;
  position: relative;
  top: -10px;
}

.gew_navbar-collapse {
  display: flex;
}

.gew_navbar-collapse-left,
.gew_navbar-collapse-right {
  white-space: nowrap;
  list-style: none;
  padding-left: .5em;

  li {
    display: inline-block;
  }
}

.gew_navbar-collapse-right {
  margin-left: auto;
}

.gew_navbar-highlight {
  position: absolute;
  bottom: -1em;
  left: 0;
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $brand-primary;
  transition: all .3s ease-in-out;
}


// white divider bar
.navbar-right {
  li:first-child a {
    position: relative;
    &:after {
      color: $white;
      content: '|';
      position: absolute;
      right: -.65em;
    }
  }
}

// Make navbar collapse at specific width
@media (max-width: $navbar-collapsing-width) {
  .gew_navbar-collapse-left,
  .gew_navbar-collapse-right {
    display: none;
  }

  .gew_navbar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .gew_navbar-toggle {
    width: 1em;
    height: 1em;
    background-color: $brand-primary;

    .gew_navbar--mobileMenu-visible & {
      background-color: red;
    }
  }

}

// ============= SUBMENU ============== //

.gew_navbar-submenu--visible{
  .gew_navbar.gew_navbar{ // solve specificity problems
    background-color: $navbar-bg ;
  }
}

$navbar-submenu-opacity-anim-duration: .3s;
.gew_navbar-submenu {
  width: 100%;
  position: absolute;
  left: 0;
  top: $navbar-height;
}

.gew_navbar-submenu-pageOverlay {
  position: fixed;
  width: 100vw;
  left: 0;
  height: 500vh;
  background-color: transparentize($white, .2);
  z-index: $navbar-z-index;
}

.gew_navbar-submenu-pageOverlay,
.gew_navbar-submenu {
  visibility: hidden;
  opacity: 0;
  transition: visibility .001s ease ($navbar-submenu-opacity-anim-duration + .1s),
              opacity $navbar-submenu-opacity-anim-duration ease-in-out .001s;
  .gew_navbar-submenu--visible & {
    opacity: 1;
    visibility: visible;
    transition: opacity $navbar-submenu-opacity-anim-duration ease-in-out;
  }
}

.gew_navbar-submenu-btn {
   position: relative;
   overflow: hidden;
   height: 25vw;
   max-height: calc((100vh - #{$navbar-height}) / 2);
}

.gew_navbar-submenu-background {
  position: absolute;
  width: 0;
  min-width: 120%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0)  scale(1.01);
  transition: transform 0.4s ease;
  will-change: transform;

  .gew_navbar-submenu-btn:hover > & {
    transform: translate3d(-50%, -50%, 0) scale(1.05) rotate(0.0001deg);
  }
}

.gew_navbar-submenu-overlay {
  position: absolute;
  width: 110%;
  height: 110%;
  background-color: rgba(0, 0, 0, .5);
  top: -5%;
  left: -5%;
  transition: background-color 0.4s ease;
  .gew_navbar-submenu-btn:hover > & {
    background-color: transparent;
  }
}

.gew_navbar-submenu-title {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: $white;
  font-size: 1.6em;
  text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}


// Make navbar collapse at specific width
@media (max-width: $navbar-collapsing-width) {
  .gew_navbar-submenu {
    top: 0;
    // Let's not influence the animation of the navbar opening
    overflow: hidden;
    z-index: 2;
  }

  .gew_navbar-submenu--visible {
    height: auto;
    overflow: visible;
  }

  .gew_navbar-submenu-btn {
     display: block;
     width: 100%;
     padding-bottom: 25vh;
   }
}
