.navbar {
  background-color: $navbar-bg;
  border: 0;
  z-index: $navbar-z-index;
  padding: 0 5vw;
  position: relative;
  transition: background-color .3s ease-in-out;

  // Navbar expanded and expanding.
  .collapsing, .collapse.in {
    background-color: $navbar-bg;
  }

  // Set text options
  .navbar-nav > li,
  .navbar-nav > li.active {
    position: static; // Allow submenu to expand to full page width
    color: $white;
    & > a {
      color: inherit;
      font-weight: lighter;
      margin: 0 .5vw;

      &:hover {
        color: $brand-primary;
      }
      &:focus {
        color: inherit;
      }
    }
  }

  // Toggle button
  .navbar-toggle {
    &:focus {
      background-color: transparent;
    }
    &:active, &:hover {
      background-color: $brand-primary;
    }

    .icon-bar {
      background-color: white;
    }
  }

  // highlight active field
  .active a{
    background-color: transparent !important;
    color: inherit;

    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 1px solid $brand-primary;
      transform: translateY(1.7em);
    }
  }
}
.gew_navbar-logo {
  height: 70px;
  position: relative;
  top: -30px;
}

// white divider bar
.navbar-right {
  li:first-child a {
    position: relative;
    &:after {
      color: $white;
      content: '|';
      position: absolute;
      right: -.65em;
    }
  }
}

// Make navbar collapse at specific width
@media (max-width: $navbar-collapsing-width) {
    // hide divider
   .navbar-right li:first-child a:after {
     display: none;
   }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

// ============= SUBMENU ============== //

.gew_navbar-submenu--visible{
  .navbar.navbar-default{
    background-color: $navbar-bg;
  }
}

$navbar-submenu-opacity-anim-duration: .3s;
.gew_navbar-submenu {
  width: 100%;
  position: absolute;
  left: 0;
}

.gew_navbar-submenu-pageOverlay {
  position: fixed;
  width: 100vw;
  left: 0;
  height: 500vh;
  background-color: transparentize($white, .2);
  z-index: $navbar-z-index;
}

.gew_navbar-submenu-pageOverlay,
.gew_navbar-submenu {
  visibility: hidden;
  opacity: 0;
  transition: visibility .001s ease ($navbar-submenu-opacity-anim-duration + .1s),
              opacity $navbar-submenu-opacity-anim-duration ease-in-out .001s;
  .gew_navbar-submenu--visible & {
    opacity: 1;
    visibility: visible;
    transition: opacity $navbar-submenu-opacity-anim-duration ease-in-out;
  }
}

.gew_navbar-submenu-btn {
   position: relative;
   overflow: hidden;
   height: 25vw;
   max-height: calc((100vh - #{$navbar-height}) / 2);
   @include lg-screen {
    //  padding-bottom: 15%; // this will guarantee the height of the button
   }
}

.gew_navbar-submenu-background {
  position: absolute;
  width: 0;
  min-width: 120%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0)  scale(1.01);
  transition: transform 0.4s ease;
  will-change: transform;

  .gew_navbar-submenu-btn:hover > & {
    transform: translate3d(-50%, -50%, 0) scale(1.05) rotate(0.0001deg);
  }
}

.gew_navbar-submenu-overlay {
  position: absolute;
  width: 110%;
  height: 110%;
  background-color: rgba(0, 0, 0, .5);
  top: -5%;
  left: -5%;
  transition: background-color 0.4s ease;
  .gew_navbar-submenu-btn:hover > & {
    background-color: transparent;
  }
}

.gew_navbar-submenu-title {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: $white;
  font-size: 1.6em;
  text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}


// Make navbar collapse at specific width
@media (max-width: $navbar-collapsing-width) {
  .gew_navbar-submenu {
    top: 0;
    // Let's not influence the animation of the navbar opening
    overflow: hidden;
    height: 0;
  }

  .gew_navbar-submenu--visible {
    height: auto;
    overflow: visible;
  }

  .gew_navbar-submenu-btn {
     display: block;
     width: 100%;
     padding-bottom: 25vh;
   }
}
