// Override Bootstrap variables in this file, e.g.
$font-size-base: 14px;
$font-size-h2: $font-size-base + 2px;
$font-size-h3: $font-size-base;

$border-radius-base: 1px;
$border-radius-large: 2px;
$border-radius-small: 1px;

$btn-border-radius-base: 0px;
$btn-border-radius-large: 0px;
$btn-border-radius-small: 0px;


$max-section-width: 2050px;

$gray-base: #000;
$gray-light: #f4ede7;
$gray-lighter: #f5f1ed;
$gray-desaturated: desaturate(darken($gray-light, 12%), 25%);
$white: #fff;

$text-color: $gray-base;
$body-bg: $gray-lighter;

$brand-primary: rgb(238, 172, 0);
$btn-primary-color: $gray-base;

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Playfair Display', serif;

$navbar-bg: $gray-base;
$navbar-height: 125px;
$navbar-mobile-height: 70px;
$navbar-collapsing-width: 1150px;
$navbar-z-index: 100;

$btn-default-bg: $gray-lighter;
$btn-default-border: $brand-primary;

$btn-primary-border: $brand-primary;

$btn-info-bg: $gray-base;
$btn-info-border: $gray-base;
$btn-info-color: $white;
