body {
  line-height: 1.8em;
  font-weight: lighter;
}

@include placeholder {
  color: inherit;
}

h2 {
  font-weight: 600;
}

h3 {
  // font-weight: 600;
  margin-bottom: 1.5em;
  font-weight: lighter;
  font-size: 1.4em;
}

a {
  text-decoration: none;
  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
  }
  &:hover {
    color: $brand-primary
  }
}
.btn {
  padding-left: 2em;
  padding-right: 2em;
}

.btn-lg {
  padding: 1em 3em;
}

.btn-light {
  font-weight: lighter;
}

.btn-dark {
  background-color: $gray-base;
  color: $white;
  &:hover {
    color: $brand-primary;
  }
}
.gew_sectionContent {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 130px;
  padding-right: 130px;
  max-width: $max-section-width;
  margin: 0 auto;

  @include xs-screen {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  @media (min-width: $max-section-width) {
    // padding-left: calc((100vw - #{$max-section-width}) / 2);
    // padding-right: calc((100vw - #{$max-section-width}) / 2);
  }
}

.gew_sectionContent-extraPadding {
  @extend .gew_sectionContent;
  padding-top: 120px;
  padding-bottom: 160px;
}

.gew_sectionContent-smallPadding {
  @extend .gew_sectionContent;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gew_sectionContent-mediumPadding {
  @extend .gew_sectionContent;
  padding-top: 75px;
  padding-bottom: 75px;
}

.gew_sectionContent-noPadding {
  @extend .gew_sectionContent;
  padding-top: 0px;
  padding-bottom: 0px;
}

.gew_titleRow {
  padding-top:2em;
  padding-bottom: 2em;
  border-bottom: 2px solid $gray-desaturated;
}

.gew_titleRow-title {
  font-size: $font-size-base;
}

// ===================== ICONS ===================== //
.gew_icon:before {
  content: ' ';
  display: inline-block;
  width: 1.4em;
  height: 1.2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.gew_icon-sofa:before  {
  background-image: url('http://res.cloudinary.com/golden-eagle/image/upload/v1474906703/sofa_suwqf1.svg');
}

.gew_icon-bed:before  {
  background-image: url('http://res.cloudinary.com/golden-eagle/image/upload/v1474908282/beds_ynqzjx.svg');
}

.gew_icon-bath:before  {
  background-image: url('http://res.cloudinary.com/golden-eagle/image/upload/v1474908276/baths_uysgnq.svg');
}

// ================== FORM FIELD =================== //

.gew_formField {
  background-color: transparent;
  padding: 1em 1.2em;
  line-height: 1.4em;
  height: 3.5em;
  display: inline-block;
  font-weight: lighter;
  margin: 2px;
}

.gew_formField-light {
  border-color: white;
  color: $white;
  outline-color: $brand-primary;
  @include placeholder {
    color: $white;
  }
}

.gew_formField-dark {
  border-color: $gray-base;
  color: $gray-base;
  @include placeholder {
    color: $gray-base;
  }
}

// ================== Landing section =================== //

// Landing section where navbar is
.gew_landingSection {
  @include pageSection();
  min-height: 60vh;
  display: flex;
  flex-flow: column nowrap;
  padding-top: $navbar-height; // To compensate for the navbar's negative margin.
  padding-bottom: $navbar-height; // To compensate for the navbar's negative margin.


  .gew_landingSection-text {
    margin: auto 0 auto 5vw;
    color: $white;
    @extend .gew_heroText;
    text-align: left;
    max-width: 70%;

    @include xs-screen {
      max-width: none;
    }
  }
}

// ================== Double Column =================== //

.gew_doubleColumn {
  text-align: left;
  padding-top: 75px;

  p {
    margin-bottom: 20px;
  }

  @include xs-screen {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

.gew_doubleColumn-title {
  font-size: $font-size-base;
  font-weight: bold;
  margin: 1em 0 3em;
}
.gew_doubleColumn-col1 {
  // padding-left: 5%;
  padding-right: 10%;
  font-weight: normal;
}

.gew_doubleColumn-col2 {
}

// ================== STICKY NAV =================== //

.gew_stickyNav {
  background-color: $brand-primary;
  position: sticky;
  position: absolute;
  width: 100%;
  z-index: $navbar-z-index - 10;

  &.stuck {
    top: 0;
    height: auto;
  }
}

.gew_stickyNav-list {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  list-style: none;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
}

// The dummy takes care of filling the nav position
// when it goes fixed
.gew_stickyNav-list-item, .gew_stickyNavDummy {
  background-color: transparent;
  color: $gray-base;
  border: 0;
  margin: 0;
  padding: 2em 1.2em !important;
  font-size: .9em;
  letter-spacing: .02em;
  display: block;
  font-weight: normal;

  .active > &, &:hover {
    // When text goes thicker, it occupies more space,
    // corrected letter-spacing fixes that
    font-weight: bold;
    letter-spacing: .00em;
  }

  &, &:visited, &:focus, &:hover {
    color: $gray-base;
    text-decoration: none;
    background-color: transparent !important;
  }
}

@media (max-width: $navbar-collapsing-width) {
  .gew_stickyNav, .gew_stickyNavDummy {
    display: none;
  }
}
//   & > li > a,
//   & > li.active > a  {
//
//     &:focus {
//       background-color: transparent;
//       color: $gray-base;
//       border: 0;
//       outline: 0;
//     }
//
//     &:hover {
//       background-color: lighten($brand-primary, 1%);
//       color: $gray-base;
//       border: 0;
//       outline: 0;
//     }
//
//     &:active {
//       background-color: darken($brand-primary, 1%);
//       border: 0;
//       outline: 0;
//     }
//   }
//
//   & > li.active > a {
//     font-weight: bold;
//   }
//
//
// }

// ================== TABLE =================== //
.gew_table {
  & > tbody > tr {
    &:nth-of-type(odd) {
      background-color: $gray-light;
    }

    &:nth-of-type(1) {
      background-color: darken($gray-light, 3%);
    }

    &:nth-of-type(even) {
      background-color: $gray-lighter;
    }

    td {
      font-weight: lighter;
      border: 0;
    }
    th {
      font-weight: normal;
      border: 0;
    }
  }
}

// ================== Slider1 =================== //
$arrow-size: 15px;
.gew_slider {
  position: relative;
  display: block;
  padding: 0 $arrow-size;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gew_slider-btn-prev,
.gew_slider-btn-next {
  position: absolute;
  display: block;
  width: $arrow-size;
  top: 0;
  bottom: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  transition: transform .1s ease-in-out;
  font-size: $arrow-size;
  z-index: 1;
  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1);
  }

  &:focus {
    outline: 0;
  }
}

.gew_slider-btn-prev {
  left: 0;
}

.gew_slider-btn-next {
  right: 0;
}

.gew_slider-slides {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.gew_slider-slide {
  white-space: normal;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: transform .2s ease-in-out;
}

// ================== Slider1 =================== //

$slider2-arrow-size: 15px;
.gew_slider2 {
  padding: 0 2 * $slider2-arrow-size;
  position: relative;
}

.gew_slider2-contentWrapper {
  overflow: hidden;
  position: relative;
}

.gew_slider2-content {
  transition: transform .2s ease-in-out;
  overflow: visible;
}

.gew_slider2-btn-prev,
.gew_slider2-btn-next {
  position: absolute;
  display: block;
  width: $arrow-size;
  top: 0;
  bottom: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  transition: transform .1s ease-in-out;
  font-size: $arrow-size;
  z-index: 1;
  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(1);
  }

  &:focus {
    outline: 0;
  }
}

.gew_slider2-btn-prev {
  left: 0;
}

.gew_slider2-btn-next {
  right: 0;
}

// ==================== QUOTE ===================== //
.gew_quote-text {

}
.gew_quote-author {
  font-weight: normal;
  text-align: center;
  display: block;
}
.gew_quote-position {
  text-align: center;
  font-weight: lighter;
  display: block;
}
