//--------------------------------------
//    Mixins
//--------------------------------------

// To be included in classes on the body tag.
@mixin transparentNavbar {
  .gew_navbar{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@mixin pageSection() {
  width: 100%;
  min-height: 400px;

  // so that we can use gew_background-cover;
  overflow: hidden;
  position: relative;
}

@mixin fullPageSection() {
  @include pageSection();
  min-height: 100vh;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin background-cover() {
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@mixin fade-hidden($time: .2s, $easing: ease) {
  visibility: hidden;
  opacity: 0;
  transition: all $time $easing, visibility 0s;
}

@mixin fade-visible($time: .2s, $easing: ease) {
  visibility: visible;
  opacity: 1;
  transition: all $time $easing, visibility 0s;
}


@mixin sm-screen() {
  @media (max-width: $screen-md-min) {
    @content;
  }
}

@mixin xs-screen() {
  @media (max-width: $screen-sm-min) {
    @content;
  }
}

@mixin lg-screen() {
  @media (min-width: $screen-md-max) {
    @content;
  }
}
