// --------------------------------------
//  Utility classes
// --------------------------------------

.gew_bg-lighter {
  background-color: $gray-lighter;
}

.gew_bg-light {
  background-color: $gray-light;
}

// Horizontally align
.gew_center {
  margin: auto;
  display: block;
}

// --- end of vertically-aligning --- /;
.gew_heroText {
  font-family: $font-family-serif;
  font-size: 30px;
  line-height: 1.45em;
  display: block;
  margin: 60px auto;
  max-width: 23em;
  text-align: center;
}

.gew_titleWithButtons {
  position: relative;

  .gew_titleWithButtons-left {
    left: 0;
  }
  .gew_titleWithButtons-right {
    right: 0;
  }

  .gew_titleWithButtons-left,
  .gew_titleWithButtons-right {
    position: absolute;
    top: 0;
    margin: auto;
    padding: .7em 5em .8em;
    line-height: 1em;
    height: 2.5em;

    @include sm-screen {
      position: static;
      width: 100%;
    }
  }
}
