.gew_modal {
  width: 450px;
}

.gew_modal-header {
  background-color: #ebebeb;
}

.gew_modal-content {
  padding: 1em 1.5em;
}

.gew_modal-formField {
  height: 2.5em;
  border: 0;
  box-shadow: none;
  border-bottom: 2px solid $gray-inactive-light;
  color: inherit;
  font-size: $font-size-small;
  transition: padding .2s ease-in-out, border-color .2s ease-in-out;

  @include placeholder {
  }
  &:focus {
    padding-bottom: 1em;
    outline: none;
    box-shadow: none;
    border-color: $gray-base;
  }
}

.gew_modal-footNote {
  max-width: 80%;
  margin: auto;
  color: #b2b2b2;
  font-size: .7em;
  text-align: center;
  padding-bottom: 1em;
  a {
    font-size: inherit;
    color: $blue;
  }
}
