
$imageSlider-imgSpacing: 10px;
$imageSlider-bigImgHeight: 60%;

.gew_imageSlider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.gew_imageSlider-image {
  display: inline-block;
  position: relative;
  transition: transform .3s ease-in-out;
  background-size: cover;
  background-position: center;
}

.gew_imageSlider-bigImages {
  position: relative;
  white-space: nowrap;
  line-height: 0;

  .gew_imageSlider-image {
    padding: $imageSlider-bigImgHeight 0 0;
    width: 100%
  }
}

.gew_imageSlider-thumbnails {
  white-space: nowrap;
  margin-top: $imageSlider-imgSpacing;
  .gew_imageSlider-image {
    padding: 20% 0 0;
    width: calc(33.8% - #{$imageSlider-imgSpacing});
    margin-right: $imageSlider-imgSpacing;
  }
}

.gew_imageSlider-btn-next,
.gew_imageSlider-btn-prev {
  position: absolute;
  font-size: 1.5em;
  top: calc(#{$imageSlider-bigImgHeight} / 2 + .7em);
  background-color: transparent;
  color: $white;
  z-index: 2;
  border: 0;
  transition: all .1s ease;
  transform-origin: center;

  &:focus {
    outline: 0;
  }

  &:active {
    transform: scale(.9);
  }
}

.gew_imageSlider-btn-next {
  right: 0;
}

.gew_imageSlider-btn-prev {
  left: 0;
}
