.gew_propertyCard {
  display: inline-block;
  width: 100%;
  padding: 1.1em;
  font-size: .8em;

  @include sm-screen {
    padding: 0em;
  }

  &:hover {
    background-color: darken($gray-light, 1.8);
  }
}
.gew_propertyCard-image {
  width: 100%;
  margin-bottom: 30px;
}
.gew_propertyCard-info-addressWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.gew_propertyCard-info-address {
  display: inline-block;
  max-width: calc(100% - 6em);
  margin-bottom: 0;
}

.gew_propertyCard-info-address-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin: 0;
  line-height: 1.5em;
}

.gew_propertyCard-info-viewBtn {
  display: inline-block;
  margin-left: auto; // Go to the right;
  padding-left: 1.8em;
  padding-right: 1.8em;
  align-self: baseline;
  font-size: .9em;
}

.gew_propertyCard-price {
  font-weight: lighter;
  font-size: .9em;
}
