.gew_subscribeFields-light .gew_subscribeFields-text {
  color: $white;
}

.gew_subscribeFields-dark .gew_subscribeFields-text {
  color: $gray-base;
}

.gew_subscribeFields-text {
  color: $white;
  margin-bottom: 40px;
}
