.gew_about {
  @include transparentNavbar();
}

.gew_about-landing {
  background-image: url('/images/about.landing.jpg');
}

.gew_about-quoteSection {
  background-image: url('/images/radiAndPaul.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  padding-bottom: 55px;
}

.gew_about-quoteSection-quote {
  margin-bottom: 100px;
}

.gew_about-quoteSection-author {
  display: block;
  text-align: center;
}

.gew_about-quoteSection-role {
  display: block;
  text-align: center;
  font-weight: lighter;
}

.gew_about-staffCards {
  padding-bottom: 0px;
}

.gew_about-staffCard {
  margin-bottom: 2em;
}

.gew_about-staffCard-photo {
  max-width: 100%;
}

.gew_about-staffCard-footer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 2em 0;
}

.gew_about-staffCard-info {
  margin-right: auto;
}

.gew_about-staffCard-info-name {
  display: block;
}

.gew_about-staffCard-info-tel {
  display: block;
  font-weight: lighter;
}

.gew_about-quoteSlider-quote ,
.gew_about-quoteSlider-author,
  .gew_about-quoteSlider-role {
  color: $white;
  display: block;
  text-align: center;
}


// ==================== History Section ================== //

$history-point-height: 15px;
$history-entry-width: 270px;
$history-entry-height: 200px + $history-point-height;

.gew_about-history {
  font-size: .8em;
  overflow: auto;
  white-space: nowrap;
  & > * {
    white-space: normal;
  }
}

.gew_about-history-entry {
  // We use inline-flex so we can position the text
  // to the bottom of the div.
  display: inline-flex;
  flex-flow: column nowrap;

  position: relative;
  width: $history-entry-width;
  height: $history-entry-height * 2;
  box-sizing: border-box;
  padding: $history-point-height;
  margin-right: -($history-entry-width / 2);

  text-align: center;
  line-height: 1.5em;
  vertical-align: top;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: $history-point-height;
    border-left: 1px solid $gray;
  }
}

.gew_about-history-entry:nth-child(odd) {
  padding-top: $history-entry-height + $history-point-height;
  &:before {
    bottom: $history-entry-height - $history-point-height;
  }

  &:after {
    content: ' ';
    position: absolute;
    bottom: $history-entry-height;
    left: -1em;
    display: block;
    width: calc(100% + 2em);
    height: 0;
    border-top: 1px solid $gray;
  }
}

.gew_about-history-entry:nth-child(even) {
  padding-bottom: $history-entry-height + $history-point-height;
  justify-content: flex-end;
  &:before {
    top: $history-entry-height - $history-point-height;
  }
}


.gew_about-history-entry-title {
  margin: 1em 0;
  font-size: 1.1em;
}
