.gew_about {
  @include transparentNavbar();
}

.gew_about-landing {
  background-image: url('/images/about.landing.jpg');
}

.gew_about-quoteSection {
  background-image: url('/images/radiAndPaul.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  padding-bottom: 55px;
}

.gew_about-quoteSection-quote {
  margin-bottom: 100px;
}

.gew_about-quoteSection-author {
  display: block;
  text-align: center;
}

.gew_about-quoteSection-role {
  display: block;
  text-align: center;
  font-weight: lighter;
}

.gew_about-staffCards {
  padding-bottom: 0px;
}

.gew_about-staffCard {
  margin-bottom: 2em;
}

.gew_about-staffCard-photo {
  max-width: 100%;
}

.gew_about-staffCard-footer {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 2em 0;
}

.gew_about-staffCard-info {
  margin-right: auto;
}

.gew_about-staffCard-info-name {
  display: block;
}

.gew_about-staffCard-info-tel {
  display: block;
  font-weight: lighter;
}

.gew_about-quoteSlider-quote ,
.gew_about-quoteSlider-author,
  .gew_about-quoteSlider-role {
  color: $white;
  display: block;
  text-align: center;
}


$history-entry-width: 25em;
$history-point-height: 1.5em;

.gew_about-history {
  font-size: .8em;
  overflow: auto;
}

.gew_about-history-top,
.gew_about-history-bottom {
  margin: 0;
  white-space: nowrap;
}

.gew_about-history-top {
  padding-left: $history-entry-width / 2;

  & > .gew_about-history-entry::before {
    bottom: 0;
  }
}

.gew_about-history-bottom > .gew_about-history-entry {
  &::before {
    top: 0;
  }

  // Dividing line
  &::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    width: calc(100% + 2em);
    left: -1em;
    border-top: 1px solid $gray;
  }
}

.gew_about-history-entry {
  display: inline-block;
  width: $history-entry-width;
  position: relative;
  padding: $history-point-height;
  white-space: normal;
  text-align: center;
  line-height: 1.5em;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: $history-point-height;
    border-left: 1px solid $gray;
  }
}

.gew_about-history-entry-title {
  margin-bottom: 1em;
  font-size: 1.1em;
}
