// .gew_contact {
//   font-size: 15px;
//   line-height: 1.6em;
// }

.gew_contact-info {
  p {
    margin-bottom: 0;
  }
}

.gew_contact-subscribe {
  .gew_subscribeFields-text {
    font-weight: lighter;
    line-height: inherit;
    margin: 2em 0 .5em;
    font-size: inherit;
  }
  form * {
    font-size: 12px;
  }
}
