.gew_developments {
  @include transparentNavbar();
}

.gew_developments-landing {
  background-image: url('/images/developments.landing.jpg');
}

.gew_home-landing-text {
  color: $white;
  margin: auto auto 0; // push all elements downwards with top margin
}

.gew_developments_caseStudy {
  background-color: white;
  display:flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 4em 0;
}

// Remove padding from columns' extremes
.gew_developments_caseStudy-leftCol {
  position: relative;
  flex: 1 2 380px;
  padding-left: 0;
  min-height: 10em;
  overflow: hidden;
}

.gew_developments_caseStudy-rightCol {
  flex: 1 2 380px;
  padding: 2em 3em;
  @include xs-screen {
    padding: 1em;
  }
}

.gew_developments_caseStudy-image {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.gew_developments_caseStudy-text {
  line-height: 1.4em;
}
.gew_developments_caseStudy-moreInfoBtn {
  margin-top: 2.5em;
}
