.gew_home {
  @include transparentNavbar();
}

// --------------- Section 1 ---------------------//

.gew_home-landing {
  background-image: url('/images/landing.jpg');
  @extend .gew_landingSection;
  min-height: 100vh;
  padding-bottom: 0;
}

.gew_home-landing-text {
  color: $white;
  margin: auto auto 0; // push all elements downwards with top margin
}

.gew_home-landing-search {
  display: block;
  margin: 10vh auto 0;
  max-width: 90%;
  width: 300px;
}

// This includes the input field and the search icon
.gew_home-landing-search-component {
  height: 50px;
  padding: 0 25px;
  box-sizing: border-box;
  background-color: $brand-primary;
  color: $gray-base;
  border: 0;
  @include placeholder {
    color: $gray-base;
  }

  &:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
  }
}

.gew_home-landing-goDown {
  // Push other elements upwards thus keeping itself at the
  // bottom and other elements centered
  margin: auto auto 0;
  font-size: 2em;
  text-align: center;
  color: $white;
  padding-bottom: .1em;
  padding-top: $navbar-height;
}

// --------------- Section 2 ---------------------//

.gew_home-listings {
  @include pageSection();
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.gew_home-listings-titleRow {
  margin: 0 1.6em 2em; // the side margins is to account for the image cards
  padding-bottom: 1px; //avoid collapsing margins below
  @include sm-screen {
    margin-left: 0em;
    margin-right: 0em;
  }
}

// --------------- Section 3 ---------------------//


// --------------- Section 4 ---------------------//
.gew_home-register {
  background-image: url('/images/home.register.jpg');
}
