.gew_home .navbar{
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.gew_home-landing {
  @include fullPageSection();
  background-image: url('/images/landing.jpg');
  display: flex;
  flex-flow: column nowrap;
  padding-top: $navbar-height; // To compensate for the navbar's negative margin.
}

.gew_home-landing-text {
  max-width: 25em;
  color: $white;
  margin: auto auto 0; // push all elements downwards with top margin
  text-align: center;
}

.gew_home-landing-search {
  display: block;
  margin: 10vh auto 0;
  max-width: 90%;
  width: 300px;
}

// This includes the input field and the search icon
.gew_home-landing-search-component {
  height: 50px;
  padding: 0 25px;
  box-sizing: border-box;
  background-color: $brand-primary;
  color: $gray-base;
  border: 0;
  @include placeholder {
    color: $gray-base;
  }

  &:focus {
    border: 0;
    outline: 0;
    box-shadow: none;
  }
}

.gew_home-landing-goDown {
  // Push other elements upwards thus keeping itself at the
  // bottom and other elements centered
  margin: auto auto 0;
  font-size: 2em;
  text-align: center;
  color: $white;
  padding-bottom: .1em;
  padding-top: $navbar-height;
}

.gew_home-listings {
  @include pageSection();
}
.gew_home-about {
  @include pageSection();
}
.gew_home-register {
  @include pageSection();
}
