.navbar {
  background-color: $gray-base;
  border: 0;
  padding: 0 5vw;

  .navbar-nav > li > a{
    color: $white;
    font-weight: lighter;
    margin: 0 .5vw;

    &:hover {
      color: $brand-primary;
    }
  }
}
.gew_navbar-logo {
  height: 70px;
  position: relative;
  top: -30px;
}
