.navbar {
  background-color: $navbar-bg;
  border: 0;
  padding: 0 5vw;
  z-index: 100;

  // Navbar expanded and expanding.
  .collapsing, .collapse.in {
    background-color: $navbar-bg;
  }

  // Set text options
  .navbar-nav > li,
  .navbar-nav > li.active {
    color: $white;
    a {
      color: inherit;
      font-weight: lighter;
      margin: 0 .5vw;

      &:hover {
        color: $brand-primary;
      }
    }
  }

  // Toggle button
  .navbar-toggle {
    &:focus {
      background-color: transparent;  
    }
    &:active, &:hover {
      background-color: $brand-primary;
    }

    .icon-bar {
      background-color: white;
    }
  }

  // highlight active field
  .active a{
    background-color: transparent !important;
    color: inherit;

    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      border-bottom: 1px solid $brand-primary;
      transform: translateY(1.7em);
    }
  }
}
.gew_navbar-logo {
  height: 70px;
  position: relative;
  top: -30px;
}

// white divider bar
.navbar-right {
  li:first-child a {
    position: relative;
    &:after {
      color: $white;
      content: '|';
      position: absolute;
      right: -.65em;
    }
  }
}

// Make navbar collapse at 1150px
@media (max-width: 1150px) {
    // hide divider
   .navbar-right li:first-child a:after {
     display: none;
   }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
