// Override Bootstrap variables in this file, e.g.
$font-size-base: 16px;

$border-radius-base: 1px;
$border-radius-large: 2px;
$border-radius-small: 1px;

$navbar-height: 125px;

$gray-base: #000;
$gray-light: #f4ede7;
$gray-lighter: #f5f1ed;
$white: #fff;

$body-bg: $gray-lighter;

$brand-primary: rgb(238, 172, 0);
$btn-primary-color: $gray-base;

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Playfair Display', serif;

$navbar-bg: $gray-base;

$btn-default-border: $brand-primary;
