// Override Bootstrap variables in this file, e.g.
$font-size-base: 14px;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$navbar-height: 125px;

$gray-light: #f4ede7;
$gray-lighter: #f5f1ed;
$white: #fff;

$brand-primary: rgb(238, 172, 0);
$btn-primary-color: #000;

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Playfair Display', serif;
