
.gew_caseStudyHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
}

.gew_caseStudyHeader-address-line1 {
  font-weight: bold;
}

.gew_caseStudyHeader-address-line1,
.gew_caseStudyHeader-address-line2 {
  display: block;
  margin: 0;
  line-height: 1.3em;
}

.gew_caseStudy-image-slider .gew_imageSlider-image {
  padding-top: 40%;
}

.gew_caseStudy-keyDetailIcon {
  margin-right: 1em;
}


// ======= MODAL ==========
.gew_caseStudy-modal {
  width: 450px;
}

.gew_caseStudy-modal-header {
  background-color: #ebebeb;
}

.gew_caseStudy-modal-content {
  padding: 1em 1.5em;
}

.gew_modal-formField {
  height: 2.5em;
  border: 0;
  box-shadow: none;
  border-bottom: 2px solid $gray-inactive-light;
  color: inherit;
  font-size: $font-size-small;
  transition: padding .2s ease-in-out;

  @include placeholder {
  }
  &:focus {
    padding-bottom: 1em;
    outline: none;
    border-color: $gray-inactive;
    box-shadow: none;
  }
}

.gew_modal-footNote {
  max-width: 80%;
  margin: auto;
  color: #b2b2b2;
  font-size: .7em;
  text-align: center;
  padding-bottom: 1em;
  a {
    font-size: inherit;
    color: $blue;
  }
}
