// React search bar
.gew_search-widthLimiter {
  @extend .gew_sectionContent;
  padding-top: 0;
  padding-bottom: 0;
}

.gew_search-borders {
  border: 2px solid $gray-desaturated;
  border-left: 0;
  border-right: 0;
  margin-top: -2px;
}

.gew_search-filtersBar {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: stretch;
  @include sm-screen {
    flex-flow: column nowrap;
  }
}

.gew_search-filter {
  flex-grow: 1;
  -webkit-appearance: none;
  padding: .4em 1em .5em;
  font-size: $font-size-small;
  font-weight: normal;
  background-color: transparent;
  border: 2px solid $gray-desaturated;
  border-bottom-color: transparent;
  margin: -2px 0 -2px -2px;
  box-shadow: none;
  cursor: pointer;
  outline-color: $brand-primary;

  &:first-child {
    border-left: 2px solid $gray-desaturated;
  }

  @include placeholder {
    color: inherit;
  }
}

.gew_search-pagination {
  font-size: $font-size-small;
}

.gew_search-pagination-pages {
  letter-spacing: .6em;
  margin-left: .5em;
}

.gew_search-pagination-button {
  font-size: $font-size-small;
  margin-left: .5em;
}
