$filter-border-width: 2px;
// React search bar
.gew_search-widthLimiter {
  @extend .gew_sectionContent;
  padding-top: 0;
  padding-bottom: 0;
}

.gew_search-borders {
  border: $filter-border-width solid $gray-desaturated;
  border-left: 0;
  border-right: 0;
  margin-top: -$filter-border-width;
}

.gew_search-filtersBar {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: stretch;
  @include sm-screen {
    flex-flow: column nowrap;
  }
}

.gew_search-filter {
  flex-grow: 1;
  -webkit-appearance: none;
  padding: .4em 1em .5em;
  font-size: $font-size-small;
  font-weight: normal;
  background-color: transparent;
  border: $filter-border-width solid $gray-desaturated;
  border-bottom-color: transparent;
  margin: -$filter-border-width;
  margin-right: 0;
  box-shadow: none;
  cursor: pointer;
  outline-color: $brand-primary;

  &:first-child {
    border-left: $filter-border-width solid $gray-desaturated;
  }

  @include placeholder {
    color: inherit;
  }
}

.gew_search-toggleView {
  margin-right: -$filter-border-width;
  border: $filter-border-width solid $gray-desaturated;
  background-color: transparent;
  font-size: 1.2em;
  padding: .2em .6em .1em;

  &:first-child:hover ~ &,
  &:first-child:active ~ &,
  &:first-child:focus ~ & {
    border-left-color: transparent;
  }
}

.gew_search-resultCount {
  font-size: $font-size-small;
  font-weight: normal;
}

.gew_search-pagination {
  font-size: $font-size-small;
}

.gew_search-pagination-pages {
  letter-spacing: .6em;
  margin-left: .5em;
}

.gew_search-pagination-button {
  font-size: $font-size-small;
  margin-left: .5em;
}
