.gew_management {
  @include transparentNavbar();
}

.gew_management-landing {
}

.gew_management-quoteSection {
  @include pageSection();
  color: white;
}

.gew_management-table {
  font-size: .8em;
  max-width: 50em;
  margin: 5em auto 0;

  td:not(:first-child), th:not(:first-child) {
    text-align: center;
  }
}
