.gew_property-image {
  margin: 0;
}

.gew_property-h2 {
  margin-bottom: 4em;
  margin-top: 0;
}

.gew_property-doubleColumn {
  line-height: 2.4em;

  .gew_doubleColumn-col1 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
