.gew_property-image {
  margin: 0;
}

.gew_property-h2 {
  margin-top: .5em;
  margin-bottom: 4em;
  @include sm-screen {
    margin-bottom: 2em;
  }

}

.gew_property-doubleColumn {
  line-height: 2.4em;

  .gew_doubleColumn-col1 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.gew_property-video {
  width: 100%;
  height: 300px;

  @include lg-screen {
    height: 370px;
  }

  @include xl-screen {
    height: 450px;
  }
}

.gew_property-actions {
  @include sm-screen {
    text-align: center;
  }
}

.gew_property-address {
  font-weight: normal;
  display: block;
}

.gew_property-detailsSummary {
  display: block;

  @include sm-screen {
    margin-bottom: 1em;
  }
}

.gew_property-actionsBar {
  display: inline-flex;
  align-items: stretch;
  margin: auto;
  float: right;
  flex-flow: row nowrap;
  font-size: 1.2em;
  @include sm-screen {
    float: none;
    flex-flow: row wrap;
  }
}

.gew_property-actionsBar-button {
  flex-grow: 5;
  flex-basis: 100%;
  font-size: $font-size-base;
  padding-top: .65em;
  @include sm-screen {
    flex-grow: 1;
  }
}

.gew_property-actionsBar-action {
  border: 1px solid $white;
  border-left-width: 0;
  margin: 0;
  padding: .7em;
  font-size: inherit;
  color: inherit;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;

  &:hover, &:active, &:focus, &:visited {
    color: inherit;
  }

  &:hover {
    background-color: $white;
    color: $gray-base;
  }

  &:first-child {
    border-left-width: 1px;
  }

  i {
    margin: auto;
  }
}

.gew_property-map {
  width: 100%;
  height: 450px;
}

.gew_property-related {
  .gew_propertyCard-info-viewBtn {
    background-color: $gray-base;
    color: $white;
  }

  .gew_propertyCard:hover {
    background-color: lighten($brand-primary, 3%);
  }


}
