p {
  line-height: 1.8em;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
  margin-bottom: 1.5em;
}

.bg-primary {
  color: $gray-base;
}

.btn {
  padding-left: 2em;
  padding-right: 2em;
}

.btn-lg {
  padding: 1em 3em;
}

.gew_sectionContent {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 1em;
  padding-right: 1em;

  @include xs-screen {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  @media (min-width: $max-section-width) {
    padding-left: calc((100vw - #{$max-section-width}) / 2);
    padding-right: calc((100vw - #{$max-section-width}) / 2);
  }
}

.gew_sectionContent-extraPadding {
  @extend .gew_sectionContent;
  padding-top: 120px;
  padding-bottom: 160px;
}

// ================== FORM FIELD =================== //

.gew_formField {
  background-color: transparent;
  padding: 1em 1.2em;
  line-height: 1.4em;
  height: 3.5em;
  display: inline-block;
  font-weight: lighter;
  margin: 2px;
}

.gew_formField-light {
  border-color: white;
  color: $white;
  @include placeholder {
    color: $white;
  }
}

.gew_formField-dark {
  border-color: $gray-base;
  color: $gray-base;
  @include placeholder {
    color: $gray-base;
  }
}

// ================== Landing section =================== //

// Landing section where navbar is
.gew_landingSection {
  @include pageSection();
  min-height: 60vh;
  display: flex;
  flex-flow: column nowrap;
  padding-top: $navbar-height; // To compensate for the navbar's negative margin.
  padding-bottom: $navbar-height; // To compensate for the navbar's negative margin.


  .gew_landingSection-text {
    margin: auto 0 auto 5vw;
    color: $white;
    @extend .gew_heroText;
    text-align: left;
    max-width: 70%;

    @include xs-screen {
      max-width: none;
    }
  }
}

// ================== Double Column =================== //

.gew_doubleColumn {
  text-align: left;
  padding-top: 75px;

  p {
    margin-bottom: 20px;
  }

  @include xs-screen {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
.gew_doubleColumn-col1 {
  // padding-left: 5%;
  padding-right: 10%;
}

.gew_doubleColumn-col2 {
  font-weight: lighter;
}

// ================== TABS =================== //
.gew_tabs {
  background-color: $brand-primary;
  padding-top: 0;
  padding-bottom: 0;

  & > li > a,
  & > li.active > a  {
    background-color: transparent;
    color: $gray-base;
    border: 0;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: .9em;

    &:focus {
      background-color: transparent;
      color: $gray-base;
      border: 0;
      outline: 0;
    }

    &:hover {
      background-color: lighten($brand-primary, 1%);
      color: $gray-base;
      border: 0;
      outline: 0;
    }

    &:active {
      background-color: darken($brand-primary, 1%);
      border: 0;
      outline: 0;
    }
  }

  & > li.active > a {
    font-weight: bold;
  }

  @include sm-screen {
    padding-top: 1em;
    padding-bottom: 1em;
    & > li {
      padding: 0;
    }

    & > li > a,
    & > li.active > a {
      font-size: 1em;
      padding: 1em 0;
    }
  }
}

// ================== TABS =================== //
.gew_table {
  & > tbody > tr {
    &:nth-of-type(odd) {
      background-color: $gray-light;
    }

    &:nth-of-type(1) {
      background-color: darken($gray-light, 3%);
    }

    &:nth-of-type(even) {
      background-color: $gray-lighter;
    }

    td {
      font-weight: lighter;
      border: 0;
    }
    th {
      font-weight: normal;
      border: 0;
    }
  }
}
