//--------------------------------------
//    Mixins
//--------------------------------------

// To be included in classes on the body tag.
@mixin transparentNavbar {
  .navbar{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@mixin pageSection() {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@mixin fullPageSection() {
  @include pageSection();
  min-height: 100vh;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin sm-screen() {
  @media (max-width: $screen-md-min) {
    @content;
  }
}

@mixin xs-screen() {
  @media (max-width: $screen-sm-min) {
    @content;
  }
}
