//--------------------------------------
//    Mixins
//--------------------------------------

@mixin pageSection() {
  width: 100%;
  min-height: 400px;
  background-size: cover;
}

@mixin fullPageSection() {
  @include pageSection();
  min-height: 100vh;
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin small-screen() {
  @media (max-width: $screen-md-min) {
    @content;
  }
}
